.select {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #204862;
    background-color: #eee;
    border-radius: 5px;
}

.select:hover,
.select:active,
.select:focus {
}

.select option:checked {

}