.wrapper {

}

.mappedBooks {
	background-color: #dee0e7;
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
}

.pagination {
	display: flex;
	align-items: center;
	margin-left: 10%;
}
